{% extends "pets_app/base.html" %}
{% block content %}

<div class="pet" style="background-color: #B6DEF6; color: #0D1A2B; ">

    <h2>{{ pet.name }}</h2>

    <div class="pet">
        <img src="{{ pet.picture.url }}" width="200" /><br>
        <b>Gender:</b> {{ pet.get_gender_display }}<br/>
        <b>Birth:</b> {{ pet.birth }}<br/>
        <b>Breed:</b> {% for b in pet.breed.all %}
            {% if forloop.last %}
                {{ b.name|lower }}
            {% else %}
                {{ b.name|lower }},
            {% endif %}
        {% endfor %}<br/>
        <b>Owner:</b> {{ pet.owner }}<br/>
        <br/>
        <b>Weight:</b> {{ pet.weight }} lb<br/>
        <b>Height:</b> {{ pet.height }} in<br/>
        <br/>
        <b>Vaccines:</b>
        <ul>
            <li>Rabies: {{ pet.card.rabies }} </li> 
            <li>Hepatitis: {{ pet.card.hepatitis|default_if_none:"Never"}}</li>
            <li>Borrelia: {{ pet.card.borrelia|default_if_none:"Never" }} </li> 
            <li>Distemper: {{ pet.card.distemper|default_if_none:"Never" }}</li>
        </ul>
        <br/>
        <b>Vet Visits:</b>
        <ul>
            {% for vv in pet.vetvisit_set.all %}
                <li>{{ vv.date|date:"Y-M-d" }}: Vet {{ vv.vet|title }}
                    {% if vv.notes %}
                        wrote <i>{{ vv.notes|striptags }}</i>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <br/>
        <a class="btn btn-info pull-right" 
            href="{% url 'visit' pet.id %}">
            New visit: Rabies vaccine
        </a><br/><br/>
    </div>
</div>
{% endblock content %}